[2021-02-01 21:03] rudokemper opened #598 "[Tests] Validation needed for Place importer to handle missing coordinates for places"
**Describe the bug**
Currently, the Place CSV Importer is adding places when there are no coordinates in the `lat` and `long` fields, resulting in these places rendering with a (0,0) geography.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Terrastories sample import spreadsheets and save the third tab (Places) as a CSV https://docs.google.com/spreadsheets/d/1Ir6TC5THEoQKk-98JZ

[2021-02-01 21:25] rudokemper opened #599 "[Tests] Validation needed for Story importer to handle adding Places that don't exist in Terrastories"
**Describe the bug**
Currently, when the Story CSV importer encounters a row with a Place (via the `Place_name` or `Where_interviewed` fields), if this Place does not exist yet in Terrastories, it will add the Place. That is all fine and dandy, but it's adding them with a (0,0) or null geography as per this related issue with the Place importer https://github.com/Terrastories/terrastories/issues/5

[2021-02-01 21:26] rudokemper commented on #598
Related issue: https://github.com/Terrastories/terrastories/issues/599

[2021-02-01 22:42] rudokemper opened #600 "[Bug][React] When a map Marker popup expands in size to accommodate an image, the X to close the popup stays where it was"
**Describe the bug**
In Terrastories, it is possible to add an image for a Place marker. This gets visualized in the marker popup, when a user clicks on a Place marker point on the map.

If there is an image for a place, the popup expands in size to accommodate the image. But the X to close the popup stays where it was, in the original popup dimensions.

**To Reproduce**
Steps to reproduce the beh

[2021-02-02 00:31] rudokemper opened #601 "[Bug][Rails] CSV Importer should update existing entries instead of creating duplicate ones"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
[CSV.zip](https://github.com/Terrastories/terrastories/files/5907717/CSV.zip)

1. Import the Speaker CSV in this zip that has some places in it for `Birthplace`.

2. Import the Places CSV in this zip, which has the same places (such as Bosulanti, Bilawata in the example below

[2021-02-02 21:58] rudokemper opened #603 "[Bug][Rails] Updating Theme fields causes map to not load"
**Describe the bug**
Terrastories Theme has the ability to add a custom Mapbox map and token per community. As soon as you modify any of the other fields in the Theme (like adding a custom logo), but leave the two map fields alone, it causes the map to not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the map with an out of the box Terrastories install. Confirm that it's workin

[2021-02-02 21:58] rudokemper commented on #603
@lauramosher I expect this might be a bug from the December work, and an easy fix :)

[2021-02-03 06:41] arky opened #604 "Firefox Doesn't allow passwords over HTTP"
Terrastories logins will work in Firefox (85.0/Linux)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'terrastories login page'
2. Enter the username and password.
3. Firefox will not allow you to login and show you insecure password login

**Desktop (please complete the following information):**
 - OS: gnu/Linux

[2021-02-06 14:17] lauramosher commented on #603
Huh, I thought I tested this. I must've messed something up somewhere.

[2021-02-06 14:42] lauramosher commented on #597
@rudokemper I looked into this — the filter logic is all encompassed in the React code; not the rails code. This was likely accidentally introduced when we merged the new Map + Marker components since it changed how we update the markers on filtering.

See: https://github.com/Terrastories/terrastories/pull/563

Updating the labels. @mirandawang Do you have time to look into this?

[2021-02-06 15:13] rudokemper commented on #597
Yeah, my mistake on this -- I thought that the November 2020 Heroku demo above was using a version of the codebase with the map marker refactoring work already done, but that is not the case. That took place shortly after IMW and before the TM work. Was getting my timelines confused :)

[2021-02-07 01:00] rudokemper opened #606 "Let's create a string for Terrastories users called username and use that for logging in/out instead of email"
## Context:
Currently, Terrastories users are being asked to log in or register with an email address.

Most of our current users (i.e. communities in the Amazon) don't have an email address, and so this is not an appropriate format for their use case. In addition, some of our potential users inquiring about Terrastories have concerns about security and would rather not submit an email address.

L

[2021-02-15 06:49] astojanowski commented on #600
Hi! I have fixed this bug.

[2021-02-15 19:45] #600 closed

[2021-02-15 21:48] #603 closed

[2021-02-15 22:19] #512 closed

[2021-02-16 03:07] rudokemper commented on #600
Thanks so much @astojanowski!

[2021-02-16 18:52] astojanowski commented on #600
I'm glad to help :)

[2021-02-16 19:02] astojanowski commented on #582
I'd like to work on this.

[2021-02-24 16:04] rudokemper commented on #604
Hi @arky,

We just added SSL to the Terrastories server you have access to. It should be resolved now. Can you check it out from your end and see?

[2021-02-26 05:11] arky commented on #604
Great @rudokemper  this works for online deployments.

But SSL will not work for offline-only deployments of Terrastories

[2021-03-03 22:01] rudokemper commented on #597
That's great! Thanks @astojanowski I just assigned it to you.

[2021-03-07 11:40] astojanowski commented on #597
Fixed by updating map markers source every time the list of places has changed. Additionally I removed duplicates from the list of points, couldn't find any use of these duplicates...

[2021-03-23 16:53] maxkadel commented on #587
Interested in working on this one!

(also, if you put spaces between the []s you can use the checkmarks)

[2021-03-24 13:15] maxkadel commented on #587
If these values aren't set in the theme, what should the defaults be? The current defaults work well with the seed set, which is set to the 2 US coasts.

![image](https://user-images.githubusercontent.com/45948126/112316292-59c9cf80-8c81-11eb-9215-68f00ea313ad.png)

[2021-03-24 13:18] lauramosher commented on #587
@rudokemper Do you have thoughts on this?

[2021-03-24 13:41] rudokemper commented on #587
Yep, because of the seed set I think the current defaults are fine. Thanks @maxkadel.

[2021-04-08 00:00] ChrisHall1 commented on #606
Hello, I am new to Terrastories and would like to take on this issue.

[2021-04-09 00:39] rudokemper commented on #606
Thanks, @ChrisHall1! I assigned the issue to you. Please let us know if you encounter any issues or have any questions.

[2021-04-14 21:13] rudokemper opened #618 "[Map] Mapbox GL JS v2 / 3D Terrain integration in Terrastories"
Let's add support for using the amazing new Mapbox GL JS v2 engine in Terrastories, so we can leverage the 3D terrain functionality for online Terrastories builds!

This requires scoping out to see what the best approach is -- an environmental parameter to enable 3D terrain, or something else. But logging this as an issue for now.

[2021-04-15 00:53] rudokemper opened #619 "Adding storied polygons and lines to Terrastories in addition to place markers (to be scoped out by Mapbox)"
Currently, the only storied content on Terrastories are place markers (points). But areas (polygons) and paths (lines) could be storied as well. Let's make it possible to add stories for polygons and polylines as much as points.

(To be scoped out more with acceptance criteria etc. in discussion with Mapbox)

[2021-04-28 00:55] julinvictus commented on #588
I can give it a try to this one

[2021-05-17 04:46] julinvictus commented on #588
Done✅

[2021-05-17 11:59] #588 closed

[2021-05-18 03:22] julinvictus commented on #521
@claracavalcante @rudokemper, ok if I give it a try?

[2021-05-19 04:13] claracavalcante commented on #521
@julinvictus absolutely! I ended up not being able to tackle it yet.

[2021-05-19 15:59] rudokemper commented on #521
Thanks @claracavalcante! And assigning you, @julinvictus :)

[2021-06-27 02:09] Julien-Bidar commented on #564
Hello everybody,
I just did a pull request to fix this bug

[2021-06-28 01:37] Julien-Bidar commented on #507
Hi, if it's ok with you I'd like to work on this issue.

[2021-06-28 01:45] rudokemper commented on #564
Thanks, @Julien-Bidar!

[2021-06-28 01:45] rudokemper commented on #507
Certainly - I will assign it :)

[2021-08-24 19:59] TopherTries commented on #583
Hi there! Brand new to Rails but I love this project and think this would be a great place for me to start contributing. I've found the error pages in the public file, so it's just a matter of making it look good. Can you get me a Terrastories logo and any ideas you have for styling? Thank you!

[2021-08-24 22:08] rudokemper commented on #583
Hello there @TopherTries! Thanks for your interest, and hoping this will make for a good first experience working with Rails.
Here is a Terrastories logo: https://drive.google.com/file/d/1qtDlFxEGQv-9Zmi1p9-3XhS_S5MWjXzV/view?usp=sharing
And here are some color parameters to work with: https://drive.google.com/file/d/1tgpE_2LLhJiIm5_-9rfp9pycmsI-fWhq/view?usp=sharing
Please let us know if you have

[2021-09-02 22:40] rudokemper opened #637 "[Mapbox] Getting raster mbtiles to work in the offline Tileserver"
For offline "Field Kit" Terrastories, we are using TileServer-GL to render mbtiles. The process to get tiles running is basically to deposit an mbtiles file in `tileserver/data/mbtiles/` and an associated style.json in `tileserver/data/styles`.

This works just fine with vector mbtiles, but raster mbtiles (such as ones generated through QGIS's `Generate XYZ Tiles` tool) seems to have an issue. Whi

[2021-09-03 14:57] #637 closed

[2021-09-10 17:57] #587 closed

[2021-09-10 17:59] #601 closed

[2021-09-10 18:03] #205 closed

[2021-09-10 18:27] #582 closed

[2021-09-10 18:52] #474 closed

[2021-09-10 19:07] rudokemper opened #642 "[Rails] Let's improve our title tags across the app"
## Context:
Currently, the title tags for Terrastories aren't the greatest. Both the welcome screen and the map view are just `Terrastories`. Within Administrate, the title tag convention is `[page] - App`. Let's make this a lot better. See acceptance criteria below.

## Acceptance criteria:

- [ ] Welcome screen without having logged in is `Welcome - Terrastories`
- [ ] Welcome screen when logged

[2021-09-10 19:26] #597 closed

[2021-09-10 19:28] #521 closed

[2021-09-10 19:35] #564 closed

[2021-09-10 19:49] rudokemper opened #644 "[Bug][Rails] Prevent Topics filter from crashing Terrastories; add "No Options" message if none are available"
**Describe the bug**
A recent pull request (https://github.com/Terrastories/terrastories/pull/625) added the Topics filter. There are a few bugs and issues with this new filter however. If there are no topics in any of the stories available, the second dropdown shows a blank field and clicking on it crashes the app. Instead, it should have a grayed out message "No Options" as you see when you clic

[2021-09-10 19:54] rudokemper opened #645 "[Bug][Rails] After clearing category filters, list of options from previous category still shows up"
**Describe the bug**
Terrastories uses two filters -- a primary (`category`) and a secondary (`options`) -- to filter the stories and places on the map. When you reset these filters by clicking the X on the right of the dropdown, it will reset the stories, the places on the map, and the dropdowns. However there is one issue: the choices for the options menu remain from the last category.

**To Rep

[2021-09-10 20:04] rudokemper opened #646 "[Rails] Update dashboard columns for Stories and Places"
## Context:
In the Terrastories administrative menu, we have dashboards for Speakers, Stories, and Places from which you can view, edit, import, add, and delete data for each.

Currently, there are some fields that don't need to be shown for the Places and Stories dashboard views, and some that are missing. Let's have the fields be the ones in the acceptance criteria below (and in the order listed

[2021-09-10 20:30] rudokemper opened #647 "[Rails] Change Theme title"
This should be an easy one. Right now, Themes are shown as `Theme #x` which is not helpful or meaningful to the user. Let's modify this language.

## Acceptance criteria:

- [ ] Change the title of the theme page from `Show Theme #x` to `Theme for Terrastories: [Community Name]`
- [ ] Change the Edit button text from `Edit Theme #1` to just `Edit Theme`

## Assets
![image](https://user-images.gith

[2021-09-10 20:47] rudokemper opened #648 "[Rails][Administrate] For the dashboards, add a dropdown menu to select results per page"
## Context:
Right now, the Speakers, Stories, and Places dashboards show 20 results per page. Let's make it possible for the user to change the number of results per page with a helpful dropdown with numeric choices.

## Acceptance criteria:

- [ ] Add a dropdown menu in between the Search field and `New ...` button on the Speakers, Stories, and Places dashboards.
- [ ] Add options 20 (default), 5

[2021-09-10 21:15] rudokemper opened #651 "[Rails][Administrate] Update Theme form labels to be more user-friendly"
## Context:
Currently, the Theme field labels are not the most intuitive. Let's change these to the following

## Acceptance criteria:

- [ ] `Background img` - Background image (for welcome screen)
- [ ] `Sponsor logos` - Sponsor logos (for welcome screen)
- [ ] `Mapbox style url` - Mapbox style URL (for online maps)
- [ ] `Mapbox access token` - Mapbox access token associated with the style
- [

[2021-09-10 21:16] #398 closed

[2021-09-10 21:17] #232 closed

[2021-09-10 21:18] #486 closed

[2021-09-10 21:20] #543 closed

[2021-09-10 21:30] rudokemper opened #652 "[Rails][Administrate] Change the orders of fields in the Edit view for Speakers, Stories, Places"
## Context:
Currently, the order of the fields in the Edit view for Speakers, Stories, and Places isn't the most intuitive. Let's have the fields be the following order:

`Speakers`: Name, Photo, Speaker's Community, Date of Birth, Birthplace, Stories
`Stories`: Title, Description, Topic, Media, Speakers, Places, Interview location, Interviewer, Date Interviewed, Permission level
`Places`: Name, P

[2021-09-10 21:35] #592 closed

[2021-09-10 21:35] #589 closed

[2021-09-21 22:31] rudokemper opened #655 "[Bug][Rails] For offline field kit, change local style.json path to relative"
**Describe the bug**
For offline "field kit" Terrastories usage, we use a parameter in the env file `USE_LOCAL_MAP_SERVER="true"`. This triggers Terrastories to look for local tiles and a local `style.json` file instead of a Mapbox.com map. This is in lines 33-43 in [home_controller.rb](https://github.com/Terrastories/terrastories/blob/master/rails/app/controllers/home_controller.rb):

[code]

Thi

[2021-10-01 18:12] MohamedAsan commented on #648
I would like to work on this. Kindly assign it to me

[2021-10-01 18:25] rudokemper commented on #648
Done; thanks @MohamedAsan!

[2021-10-02 07:25] MohamedAsan opened #658 "[Rails][Administrate] Pagination does not work"
**Describe the bug**
Unable to view the pages other than the first page in Speakers, Stories, Places & Users list page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any of the list page with more than 50 entities - Speakers/Stories/Places/Users
2. Scroll down to the bottom
3. Click on "Next ›"

**Expected behavior**
User should be navigated to 2nd page and corresponding entities must

[2021-10-02 07:25] MohamedAsan commented on #658
@rudokemper I would like to fix this issue along with #648 as it is blocking its testing

[2021-10-02 18:33] #648 closed

[2021-10-02 18:33] #658 closed

[2021-10-04 02:20] julinvictus commented on #652
Hi I can work on this

[2021-10-04 04:10] julinvictus commented on #646
Hi I can work on this one

[2021-10-04 17:03] #652 closed

[2021-10-05 04:42] EitanFuturo commented on #578
I've made a [PR](https://github.com/Terrastories/terrastories/pull/661) to solve this issue according to the previous conversation, hope it's helpful.

[2021-10-05 05:38] julinvictus commented on #651
Hi I can work on this one

[2021-10-05 13:04] #578 closed

[2021-10-05 14:48] sundus-y commented on #655
This is my first time working on this project, I'm going to give this a shot.

[2021-10-05 14:49] rudokemper commented on #655
Awesome, @sundus-y! Welcome and please let us know if you have any questions.

[2021-10-06 00:57] rudokemper opened #663 "[Bug][Rails] Region typeahead field should only pull suggestions from active community"
**Describe the bug**
The `Region` field in the Places model is configured as a typeahead field, helpfully providing you with existing values when you add or edit this field. However, currently it is populating the list of values from _all_ of the communities on one Terrastories server, instead of just the one you are logged in to.

**To Reproduce**
Steps to reproduce the behavior:
1. Create or log

[2021-10-06 01:09] #663 closed

[2021-10-06 01:15] rudokemper opened #664 "[Bug][Map] Type of place and region not showing on marker popups as desired"
**Describe the bug**
Popup markers should show:
`Type of place: {type_of_place}`
`Region: {region}`

Currently this is broken and only `{type_of_place}` is showing.

[2021-10-06 01:51] rudokemper opened #665 "[Bug][React] Add lock after title, and separate speakers with space after comma"
**Describe the bug**
Right now, speakers are shown as `speaker1,speaker2,speaker3` without a space after the comma.
And the lock 🔒 for restricted stories shows up before the title. It should show up after the title, preceded by a space, like so: `Title of story 🔒`

[2021-10-06 01:58] EitanFuturo commented on #647
I can work on this one.

[2021-10-06 02:30] rudokemper opened #668 "[Rails] Make "type of place" render as a typeahead field akin to "Region""
For the Places model, when editing or adding a place in Administrate, `Region` shows as a typeahead field with helpful suggestions. Let's do the same for the `Type of Place` field.

[2021-10-06 04:38] ConnieJChi commented on #663
👋 Hello! Do you mind if I try working on this issue?

[2021-10-06 11:26] rudokemper commented on #663
Hello @ConnieJChi ! Welcome and thanks :)

[2021-10-06 12:28] toshitapandey commented on #668
@rudokemper - can I pick this up?

[2021-10-06 22:16] #665 closed, assigned to rudokemper

[2021-10-06 22:47] rudokemper opened #671 "[Bug][Rails] Null image tag displaying on popup when story card is activated"
**Describe the bug**
The popups on the map are set up to show an image, if there is one set for that place (via the `photo_url` field); if the value is null then it will not (see this code in `Popup.jsx` [here](https://github.com/Terrastories/terrastories/blob/8c53163545f64733a535cf98ebd56e63155f6775/rails/app/javascript/components/Popup.jsx#L13)).

This works when you press on a marker point on t

[2021-10-06 23:00] rudokemper opened #672 "[Rails] Change the order of options in the primary filter to alphabetical"
Let's change the order of the options in the primary filter to be alphabetical.

So with the current selections, it would be `Region`, `Topic`, `Type of Place`, `Speaker`. If there were to be one added in the future, it would automatically be placed alphabetically as well.

(Note that the `filterMap` and `handleFilter` arrays in `App.jsx` have to be adjusted as well).

[2021-10-06 23:13] #644 closed

[2021-10-06 23:22] rudokemper opened #673 "[BREAKING BUG][Rails] Remove empty field choices from filters (currently crashing Terrastories); add "No Options" message if none are available"
**Describe the bug**
There are a few bugs and issues with the filters on the sidebar of the Terrastories map view.

1. If there are some empty values for the fields being filtered (Region, Topic, Type of Place, Speaker), the first choice in the second filter dropdown will be a blank option. Clicking this will crash Terrastories.
![image](https://user-images.githubusercontent.com/31662219/136296710

[2021-10-06 23:23] rudokemper opened #674 "[Rails] Make "Topic" render as a typeahead field akin to "Region""
For the Places model, when editing or adding a place in Administrate, `Region` shows as a typeahead field with helpful suggestions. Let's do the same for the `Topic` field in the Stories model.

[2021-10-06 23:41] rudokemper opened #675 "[React] Create an introductory panel before displaying the StoryList in Map view"
Currently, when a user enters the Map, the StoryList in the sidebar is displayed immediately. There is a card on the right side of the screen that pops up and explains a bit about the terrastories app.

Let’s update the UI so that there is no more card and instead, we display an introductory panel in the sidebar before we display the list of Stories.

See below for the design.
![Screen Shot 2020-0

[2021-10-06 23:41] #507 closed

[2021-10-06 23:42] rudokemper opened #676 "[Rails][React][Administrate] Add audio file field to Place model"
One request that we've heard from potential users in Colombia is that it would be nice for an audio file pronouncing the Place name to play when the user opens a Place marker. This is because some indigenous communities are working on revitalizing language usage, and some young community members don’t actually know how places are pronounced. So this is a nice educational feature to add to Terrasto

[2021-10-06 23:44] rudokemper opened #677 "[Rails][React][Administrate] Add PDF document field to Story model"
We have heard from some of our potential end users (i.e. in Colombia) that it would be nice to be able to embed documents like PDFs to stories. For some storied places, there are existing documents that can be added to the story as additional context.

Let's add a `pdf_document` field to the `Story` model where users can add readable documents (in PDF format) to stories. This should be added throu

[2021-10-06 23:46] #541 closed

[2021-10-06 23:47] #502 closed

[2021-10-07 02:50] carlosfrodrigues commented on #671
Hi, I can take this issue!

[2021-10-07 03:00] julinvictus commented on #672
Hi I can work on this. Also I think you mean `Region, Speaker, Topic, Type of Place`

[2021-10-07 03:02] rudokemper commented on #672
Ah you are right :) thanks @julinvictus !

[2021-10-07 05:07] ConnieJChi opened #678 "[Bug] Broken Setup link on the README"
When clicking on the `Setup Document` link it doesn't properly link to the setup [document](https://github.com/Terrastories/terrastories/blob/master/documentation/DEVELOPMENT.md).

![Capture](https://user-images.githubusercontent.com/36419421/136323525-8d86b61b-31cc-4747-a7aa-cc99488d218b.PNG)

[2021-10-07 21:19] toshitapandey commented on #678
Hey @rudokemper!

Apologies that I raised the pull request before confirming from you. If it's ok, please take a look at the PR.

[2021-10-07 21:22] #678 closed

[2021-10-07 21:23] rudokemper commented on #678
@toshitapandey no worries! Thanks!

[2021-10-07 23:34] TopherTries commented on #583
Hi Rudo! I have been on the job hunt and completely forgot to follow up on
this. Once I have more time to dedicate to learning Rails I'd love to loop
back around, but that won't be for a bit. My apologies for the lack of
communication.

On Wed, Oct 6, 2021 at 6:45 PM Rudo Kemper ***@***.***> wrote:

[2021-10-08 12:35] rudokemper commented on #583
No worries at all @TopherTries! I will go ahead and mark this ticket again as help wanted.

[2021-10-10 14:29] #671 closed, assigned to carlosfrodrigues

[2021-10-10 20:35] ConnieJChi commented on #673
👋 I'd love to take a shot at this issue!

[2021-10-10 20:36] rudokemper commented on #673
Thanks @ConnieJChi!

[2021-10-10 21:05] rudokemper commented on #675
Welcome @griseduardo! I will assign you. Please let us know if you have any questions :)

[2021-10-11 16:46] #673 closed, assigned to ConnieJChi

[2021-10-11 17:28] #672 closed, assigned to julinvictus

[2021-10-11 17:41] rudokemper opened #684 "[Bug][Rails] Adapt height of the welcome screen card to adjust to overflow content"
**Describe the bug**
Currently, if any of the content on the welcome screen card (such as the `h1` welcome message, `.welcome-card-user`, or `.language-picker` content) is forced to go to a second line, the overall `.welcome-card` height does not adjust. Let's make it dynamically adjust so that all the content fits.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Terrastories welco

[2021-10-11 18:03] rudokemper opened #685 "[Rails] Let's change the default community zoom and lat/long"
Let's change the default community zoom to `2` and lat/long to `15,0`.

[2021-10-11 18:07] #685 closed

[2021-10-11 18:21] rudokemper opened #687 "[Rails] Make "Community" and "Language" render as a typeahead field"
A number of the fields in Terrastories (such as `region`, `type_of_place`, and `topic`) are typeahead fields.

There are two additional fields that should be made into typeahead fields as well: `community` (in the Speaker model) and `language` (in the Story model).

[2021-10-11 18:29] rudokemper opened #688 "[Rails] Let's add Community and Language fields as filter options; hide them if there are no values"
## Context:
There are two fields in Terrastories that we are currently not using on the front end: `community` (in the Speaker model) and `language` (in the Story model). These could be set as filters for the stories.

Let's add these to the filters menu, but, make it so that they don't show up if there are no values set within the community.

(That is, if there are no stories that have any conten

[2021-10-11 18:36] rudokemper opened #689 "[Rails] Add language field to Story cards in sidebar"
## Context:
We have a `language` field for the Story model, but we're not using it yet on the front end. Let's add it to the story cards on the Terrastories sidebar, per the acceptance criteria below.

## Acceptance criteria:

- [ ] If `language` is set for a story, add a `<p>` tag underneath the video with `**Language:** [value]` in the story card
- [ ] If `language` is not set for a story, do no

[2021-10-12 01:32] #586 closed

[2021-10-12 01:33] rudokemper opened #690 "[Docker][Rails] add ENV parameter to turn off multi-instance"
## Context:
We have recently set up Terrastories as multi-instance permitting multiple communities to use one Terrastories server ([see PR 572](https://github.com/Terrastories/terrastories/pull/572)). This is a great asset for online setup of the application, such as for the https://our.terrastories.io server. However, in some cases, it may be better to only have one community set up on Terrastori

[2021-10-12 02:10] #690 closed

[2021-10-13 01:23] rudokemper commented on #677
There will be a follow-up ticket about using this PDF field in the front end once it's been added.

[2021-10-13 02:33] Elisangelamsilva commented on #642
Hi @rudokemper , can I work on this issue?

[2021-10-13 05:19] julinvictus commented on #583
Hi, I can work on this one

[2021-10-14 00:26] everly-gif commented on #684
hey I would like to work on this issue. Please assign it to me

[2021-10-14 07:14] everly-gif commented on #684
hey @rudokemper  I just reproduced this issue locally. Just to clarify , first of all this is a responsiveness issue right? Secondly , I'm not able to exactly reproduce the first screenshot . I see that the `.welcome-card-user` is forced to take up two lines in your screenshot whereas it only takes up one line in mine even when the `.language-picker` is pushed down out of the card(overflowing).  A

[2021-10-15 02:54] EitanFuturo commented on #647
I made a [PR](https://github.com/Terrastories/terrastories/pull/693) to solve this issue. Hope it's helpful.

[2021-10-16 19:37] ConnieJChi commented on #687
👋 Hello! Mind if I take this issue?

[2021-10-16 19:40] rudokemper commented on #687
Hi @ConnieJChi! Thanks, and definitely :) Will assign you now.

[2021-10-17 11:03] everly-gif commented on #684
https://docs.docker.com/compose/cli-command/ found this on docker's latest release notes. Apparently they are planning to deprecate the `docker-compose` command. I still don't the fix, help would be appreciated,

[2021-10-17 14:52] everly-gif commented on #684
Yes I did, I was thinking of creating an issue separately on this , hence deleted the comments.

To fix this : Go to settings>general> uncheck the box that says  "Use docker compose V2"(which is not set as default after updating to the latest version) apply and restart .

Open powershell and type the commands. now docker-compose should work. I was able to successfully run it and make changes

Open

[2021-10-17 15:05] everly-gif commented on #684
I tried using `docker compose` commands instead of `docker-compose` and it gave me the same error `service "extensions" has neither an image nor a build context specified: invalid compose project`. Although acc to the documentation this small change should be more than sufficient, I am not sure why I get those errors. I'm not familiar with docker as much but I can try figuring this out

[2021-10-18 01:31] #684 closed

[2021-10-18 17:28] rudokemper opened #695 "[Bug][Docker] Getting Terrastories working with Docker Compose V2; invalid compose project error"
**Describe the bug**
With the latest version of Docker Desktop (Windows) which uses Docker Compose V2, trying to build Terrastories results in the following error:
`service "extensions" has neither an image nor a build context specified: invalid compose project`

We can avoid this error by unchecking "Use Docker Compose V2" in the Docker settings, but since docker-compose (v1) will eventually be d

[2021-10-19 12:44] rudokemper commented on #695
Thanks @sudo-bmitch. Just now would like to confirm that the issue is being encountered (by at least two different people) with the [same docker-compose file](https://github.com/Terrastories/terrastories/blob/master/docker-compose.yml) as in the repo.

[2021-10-19 23:23] everly-gif commented on #581
cool I am already part of the slack, Right now I think I'll wait for my mentor (Ian Norris) to reply in the fellowship slack. If he's busy I'll put it up in ruby for good slack as well.

[2021-10-20 19:17] everly-gif commented on #585
I would like to work on this if its still up for grabs !

[2021-10-24 01:01] EitanFuturo commented on #676
Hi! I can take this one.

[2021-10-24 02:25] rudokemper commented on #676
Thanks @EitanFuturo! There were be a follow up one to show this on the marker popup once the field has been added :)

[2021-10-26 22:28] #687 closed, assigned to ConnieJChi

[2021-11-03 22:12] rudokemper opened #703 "[Rails][Mapbox] Permit null values for the map bounding box in a Community theme"
Currently, we have some validations set up that forces a numerical value for the bounding box attributes in Theme. These are `sw_boundary_lat`, `sw_boundary_long`, `ne_boundary_lat`, and `nw_boundary_long`. These feed into a bounding box that delimits the maximum limits of where you can pan on the map.

This is a useful thing to have as an option, but we should start with no bounding box to begin

[2021-11-03 22:38] rudokemper opened #704 "[Rails] Let's add a field to the Theme UI to set which languages show up as options in the welcome screen"
Currently, when you open Terrastories (i.e. by going to http://our.terrastories.io/), there are a defined number of languages that show up. The way this currently works is that in `application.rb` there is some code that automatically loads in whatever languages are defined in `config/locales/`. This has worked for now, but will get unsustainable as more languages get added to Terrastories.

Let's

[2021-11-03 22:42] rudokemper commented on #677
Hello @andersonfernandes, did you still want to work on this?

[2021-11-03 22:42] rudokemper commented on #676
Hello @EitanFuturo, did you still want to work on this?

[2021-11-03 22:42] rudokemper commented on #642
Hello @Elisangelamsilva, did you still want to work on this?

[2021-11-04 00:05] Elisangelamsilva commented on #642
Hi @rudokemper , I do want to work, sorry for the delay. :hugs:

[2021-11-04 00:27] rudokemper commented on #642
No worries @Elisangelamsilva! Take your time, just wanted to check in post-Hacktoberfest :)

[2021-11-04 00:40] Elisangelamsilva commented on #642
Okay, thanks. Unfortunately I didn't have time to participate this year :pensive:. Next year I try again :relaxed:.

[2021-11-04 17:59] andersonfernandes commented on #677
Hi @rudokemper, yes. I kinda run out of time, but I'm finishing the implementation

[2021-11-04 18:13] rudokemper commented on #677
No worries @andersonfernandes! Take your time, just checking in post Hacktoberfest :)

[2021-11-04 18:27] EitanFuturo commented on #676
Hi @rudokemper, I do. I've just had a busy couple of weeks. If there's a deadline for this, please let me know.

[2021-11-04 18:33] rudokemper commented on #676
Hi @EitanFuturo no worries at all! Take your time, was just checking in after Hacktoberfest:)

[2021-11-19 20:57] rudokemper opened #705 "[Rails][Bug] Remove video attachment from Story view in Administrate is not working"
**Describe the bug**
Currently, it seems like an error is being thrown when trying to remove media attachment from the Story edit view in Administrate. The expected behavior is that clicking the "Remove" button should remove the media attachment, but instead we are taken to a Rails error page.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a video to a story, and save the story
2. Edit

[2021-11-29 13:00] harshita214 opened #706 "Appealing Scroll Bar: Customized"
## Context:
To make scroll-bar more convenient and appealing for User, By making scroll-bar customized it makes look website's colours blend perfectly and make it look more professional.

## How will it look
Below is example how I implement it

![scroll1](https://user-images.githubusercontent.com/79797000/143864994-d401217d-db86-4029-ab13-149ca280365c.PNG)

While scrolling

![scroll2](https://user

[2021-12-25 23:17] EitanFuturo commented on #676
Hi! I've submitted a [PR](https://github.com/Terrastories/terrastories/pull/707) for this issue. Please find in the description some caveats to it and an error found which I'll report in a different issue.

[2021-12-30 16:48] rudokemper commented on #706
Hi @harshita214 thanks for writing about this, and sorry for a delay in getting back to you. This repo is for submitting issues for the application, not the website, and before we opted not to customize the scrollbar for accessibility reasons. To keep things tidy on our Github I will close this issue, however, we will revisit this whenever we have the opportunity to rethink the website design.

[2021-12-30 16:48] #706 closed

[2022-01-24 20:12] rudokemper commented on #688
Hi @noelledusahel ! Did you still want to work on this one? Just checking in :)

[2022-02-23 22:52] noelledusahel commented on #688
I put this PR up last October... I dont think it got a review since  https://github.com/Terrastories/terrastories/pull/702

[2022-02-24 00:48] rudokemper commented on #688
Oh! My bad @noelledusahel I didn't realize this PR also addressed this issue. We'll get it reviewed as soon as possible; our stewards team is a little small at the moment (and still mostly volunteer). Sorry about that.

[2022-03-01 18:01] andersan commented on #705
Hey, is this issue still relevant, and is it a good one to start with?

Are there more high-priority issues on this project that need to be addressed and which are a similar level of complexity?

[2022-03-01 21:26] rudokemper commented on #705
Hi @andersan, yes this issue is super relevant still, and I imagine it's a good one to become acquainted with the Rails and media storage side of things. Any help would be highly appreciated! I can assign you if you're interested in taking a look.

I can answer the other question a bit later on in the week.

[2022-03-02 11:55] andersan commented on #705
@rudokemper just got the app set up locally and added a story, speaker and place to see how it all works.

Is this the same error you're seeing? I haven't worked with Rails in a while but can dig into it if it's the same one.

![Screenshot from 2022-03-02 06-49-37](https://user-images.githubusercontent.com/12814577/156356779-40088662-4927-4a31-a8ce-cd1b0a2ea19b.png)

![Screenshot from 2022-03-02 0

[2022-03-02 15:10] andersan commented on #705
Maybe it is a configuration issue with the way the app is set up on my local environment. I'm running ubuntu 20.04, a fresh install of docker, and using Chrome to test.

Steps I took to get there:
1. Add media
2. Save the story
3. Verify that the story has the media added looking at the map
4. Edit the story
5. Try to remove the media

In the terminal running the local server/docker, this is the o

[2022-03-02 15:43] rudokemper commented on #705
Nice! This change permits you to remove a media attachment from a story as well? If so, please do feel free to submit a PR and we can test it out!

[2022-03-03 13:27] andersan commented on #705
The above issue was just a local config issue. I added a new stories controller outside the Admin context via "rails g controller stories". In the master branch, the Stories controller only exists in the admin folder. Adding that controller changes the error message to the following:

`The action 'delete' could not be found for StoriesController`

Adding "delete" to the admin stories controller mi

[2022-03-03 14:32] andersan commented on #705
Think the issue was:
1. the route was pointing at "stories" instead of "admin/stories". the route for deleting "places" seems like it might have the same issue
2. there was no logic in the admin stories controller to remove the attachment

This should be fixed. Removing images/attachments and deleting stories both seem to work with these changes. I wasn't sure if the change would result in story d

[2022-03-03 14:36] andersan opened #714 "Stories attachments don't support SVG uploads"
Minor issue, not likely to matter for actual users. Don't know if other file types are also not supported.

Steps to reproduce:
1. edit a story
2. upload an SVG
3. press the update button
4. try to edit the story again, and see below message

Error message:
![Screenshot from 2022-03-03 09-33-33](https://user-images.githubusercontent.com/12814577/156585753-48cfbc21-fb4a-4359-aecf-f0aa89723646.png)

[2022-04-08 01:57] willeyen commented on #579
I would like to work on this issue, if possible!

[2022-04-08 01:57] willeyen commented on #703
I would like to work on this issue, if possible!

[2022-04-12 21:37] rudokemper opened #720 "[IMPORTANT] Major refactor ongoing; most open source issues on hold, but will return after 🚧"
:construction: We are in the process of refactoring the Terrastories codebase! In the coming months we will be separating out the Rails and React code, improving our Docker scripts, and more. In the meantime, most (if not all) of our open tickets will be impacted by this refactor, and have been temporarily archived. However, once the refactor is completed, we will resurface these issues and rewrit

[2022-04-12 21:38] rudokemper commented on #714
Thanks @andersan. We're moving this to discussion for now but will revisit after some refactor work which will also hopefully solve this.

[2022-04-12 21:40] #705 closed

[2022-04-12 21:41] #695 closed, assigned to nobody

[2022-04-12 21:45] rudokemper commented on #518
Addressed through https://github.com/Terrastories/terrastories/pull/718

[2022-04-12 21:45] #518 closed

[2022-04-12 21:46] #349 closed

[2022-04-12 21:48] #525 closed

[2022-04-12 21:48] #526 closed

[2022-04-12 21:49] #547 closed

[2022-04-12 21:49] #548 closed

[2022-04-12 21:54] #676 closed, assigned to EitanFuturo

[2022-04-12 21:54] #677 closed, assigned to andersonfernandes

[2022-04-12 21:57] #688 closed, assigned to noelledusahel

[2022-04-15 14:04] #174 closed

[2022-04-15 14:29] #618 closed

[2022-04-22 02:28] rudokemper opened #777 "Separate React from Rails back end (ATALM)"

[2022-04-22 02:29] #777 closed

[2022-04-28 19:25] #703 closed

[2022-05-03 01:13] #579 closed

[2022-07-28 14:21] rudokemper opened #787 "[Bug] Text overflow in Stories and Marker Popups needs adjustment"
![image](https://user-images.githubusercontent.com/31662219/181538880-2a880ef2-c214-4d12-8d65-c9690bc9d56e.png)

[2022-07-28 14:56] #787 closed

[2022-07-29 13:48] rudokemper opened #789 "[UI] Height of StoryList view exceeds viewport in mobile"
**Describe the bug**
The height of the mobile StoryList view exceeds the viewport in mobile. In the screenshot below (Samsung Galaxy A71), you can see that the bottom content of the StoryList `Hello username (Back to Welcome Page) Admin Page` is not shown.

![Screenshot_20220729-084243_Chrome](https://user-images.githubusercontent.com/31662219/181774216-de6a3327-b2b1-4f23-b73d-4c0e3226f26e.jpg)

T

[2022-08-08 21:25] newguyen commented on #169
Hello! I started to look into incorporating Kalimar's suggestion to address this issue and create the functionality.  With some of the refactoring going on, would it be possible for me to work on this issue?

[2022-08-13 17:46] rudokemper opened #790 "[Map] Add ability to set map projection (and prevent new globe projection from temporarily breaking)"
## Context:
Starting from v2.6, Mapbox GL JS supports multiple map projections. This feature allows you to create more accurate visualizations at every zoom level and tell a better story with your data.

We would like to be able to permit a Terrastories community admin user to set the projection for their map.

In addition, the brand new `globe` projection is currently breaking Terrastories. Mapbo

[2022-08-15 19:50] rudokemper opened #792 "Resolve css standard discrepancy between mapbox-gl-rails 2.9.0 and sassc-ruby"
The latest 2.9.0 version of [Mapbox GL Rails](https://github.com/nbulaj/mapbox-gl-rails) allows us to implement some of Mapbox's latest features, including the new globe projection. However recent changes in this codebase to the CSS formatting - specifically, a `rgb(x x x / x%)` standard - causes the gem to break with SCSS because of [this issue](https://stackoverflow.com/questions/71805735/error-

[2022-09-11 16:54] asheerrizvi commented on #789
@rudokemper I can pick this up if it's still up for grabs.

[2022-09-11 17:37] rudokemper commented on #789
@asheerrizvi sure thing! Will assign you. Thanks! :)

[2022-09-25 09:37] asheerrizvi commented on #789
hey @rudokemper I was trying to setup terrastories on my local but I keep running into this error when I am trying to run `docker-compose build`. Got any idea about this?

` => ERROR [terrastories_e2e 7/9] RUN bundle install`

[code]

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/17976252/192137129-6b9ed71f-4d3d-43da-8387-97dd82df53df.png">

[2022-09-25 14:37] rudokemper commented on #789
Hi @asheerrizvi sorry about that; I forgot to mention that the current main branch is out of date on dependency updates. Please try building this branch: https://github.com/Terrastories/terrastories/tree/administrate-refactor-part-1

[2022-09-26 12:24] asheerrizvi commented on #789
@rudokemper cool will try it out!

[2022-09-29 19:05] rudokemper opened #793 "[Rails] Let's create a string for Terrastories users called username and use that for logging in/out instead of email"
### Discussed in https://github.com/Terrastories/terrastories/discussions/759

<div type='discussions-op-text'>

<sup>Originally posted by **rudokemper** February  6, 2021</sup>
## Context:
Currently, Terrastories users are being asked to log in or register with an email address.

Most of our current users (i.e. communities in the Amazon) don't have an email address, and so this is not an appropri

[2022-09-29 19:06] rudokemper opened #794 "[Rails][React] Add PDF document field to Story model"
### Discussed in https://github.com/Terrastories/terrastories/discussions/764

<div type='discussions-op-text'>

<sup>Originally posted by **rudokemper** October  6, 2021</sup>
We have heard from some of our potential end users (i.e. in Colombia) that it would be nice to be able to embed documents like PDFs to stories. For some storied places, there are existing documents that can be added to the

[2022-09-29 19:08] #720 closed

[2022-09-29 19:10] rudokemper opened #795 "[Rails] Let's improve our title tags across the app"
## Context:
Currently, the title tags for Terrastories aren't the greatest. Both the welcome screen and the map view are just `Terrastories`. Let's improve this. See acceptance criteria below.

## Acceptance criteria:

- [ ] Welcome screen without having logged in is `Welcome - Terrastories`
- [ ] Welcome screen when logged in is `Welcome - Terrastories: [community name]`
- [ ] Map view is `Terras

[2022-09-29 19:14] rudokemper opened #796 "[Map][React] Add full size / enlarged image mode for marker popups"
Currently, we display Place photos in a marker pop up as a regular IMG tag.

Let's add some functionality that allows us to view an enlarged version of the photo.

1) Add a button on the photo to signify enlargement
2) When clicking on that button, open an overlay or modal that displays a larger version of the photo.
3) Overlay / modal must be closed before interacting with the rest of the applica

[2022-09-29 19:28] rudokemper opened #797 "Sign in with username in addition to email"
Allow a user to sign in with a username in addition to email.

[2022-09-29 19:28] rudokemper opened #798 "Use standard linting / eslint (and require on GH actions)"

[2022-09-29 19:29] rudokemper opened #799 "Public communities interface"
Public community mode and UI for accessing communities without logging in (ATALM)

[2022-09-29 19:29] rudokemper opened #800 "Allow admin to set a custom color scheme for markers based on Type of Place"

[2022-09-29 19:31] rudokemper opened #801 "More granular user permissions"

[2022-09-29 19:35] rudokemper opened #802 "[Rails] Allow super admin to reset passwords for community admin users"
When logged in as a super admin (e.g. via username `super@terrastories.io` and password `terrastories` per the default seed data), we are able to view the communities that are located on the Terrastories instance, as well as the users registered to those communities. Let's make it possible for the super admin to reset a password for any of the users on a community with `admin` credentials.

User s

[2022-09-29 19:42] rudokemper opened #803 "[Rails] Allow super admin to view a "last updated on ..." note next to communities on the main dashboard"
When logged in as a super admin (e.g. via username `super@terrastories.io` and password `terrastories` per the default seed data), we are able to view all of the communities on the dashboard accessed at the  `/en/member/communities` path. Let's add a `Last updated on $date` note on a new line following the name of the community, in italics.

This would track the last time that a change was made to

[2022-09-29 19:47] rudokemper opened #804 "[CMS] Let's implement a responsive design for the new Terrastories CMS"
The newly merged Admin CMS refactor adds a whole new CMS to Terrastories, accessed at `/en/member/` when logged in to a community.

The layout of the CMS is not yet responsive. Let's put in some work to make this layout display better on different viewports.

_Current design loaded on a Samsung Galaxy phone_:

![image](https://user-images.githubusercontent.com/31662219/193127819-00ccb448-74df-406c

[2022-09-29 19:53] rudokemper opened #805 "[CMS] Let's add a location picker for Places using a map"
The newly merged Admin CMS refactor adds a whole new CMS to Terrastories, accessed at `/en/member/` when logged in to a community. In the Themes page, it is now possible to set map settings such as bounding box, zoom level, pitch, and bearing by interacting with an inset map, provided by either Mapbox.com or local tiles served by Tileserver-GL:

![image](https://user-images.githubusercontent.com/3

[2022-09-29 19:58] rudokemper opened #806 "[Rails] Implement file size compression for media attachments"
Currently, media attachments (images, audio, video) that are uploaded to Terrastories are stored in the original filesize. Yet, these assets are only rendered on the front end in a relatively small size; the videos can be maximized to full screen, but are generally only viewed via standard computer monitors or smartphone devices. Ideally, these should be optimized for the web - in the current stor

[2022-09-29 19:58] rudokemper commented on #806
There could be some resources to look into here: https://www.railsjazz.com/

[2022-09-29 20:10] rudokemper opened #807 "[Rails] Fix a small line-height issue with text in the Speaker cards in the new CMS"
The new [Admin refactor branch](https://github.com/Terrastories/terrastories/tree/administrate-refactor-part-1) adds a whole new CMS to Terrastories, accessed at `/en/member/` when logged in to a community.

There is a minor issue with line-height in the Speaker cards in the new CMS:

![image](https://user-images.githubusercontent.com/31662219/193132088-afec790f-bbbb-4755-b260-88dca53b4d70.png)

[2022-09-29 20:14] rudokemper opened #808 "[Rails] Remove "Back to app" link in new CMS for super admin"
The new [Admin refactor branch](https://github.com/Terrastories/terrastories/tree/administrate-refactor-part-1) adds a whole new CMS to Terrastories, accessed at `/en/member/` when logged in to a community.

When logged in as super admin, the CMS is focused on community management. But there is still a "Back to app" link at the top right, which leads to an error page when clicked.

![image](https:

[2022-09-29 20:17] rudokemper opened #809 "[Rails] Let's limit the number of decimal digits for coordinates selected by map to 5"
The new [Admin refactor branch](https://github.com/Terrastories/terrastories/tree/administrate-refactor-part-1) adds a whole new CMS to Terrastories, accessed at `/en/member/` when logged in to a community.

There is now a way to select the map center and bounding box coordinates by using a map in the Themes page.

![image](https://user-images.githubusercontent.com/31662219/193133119-d450cae0-3f58

[2022-09-29 21:01] rudokemper opened #810 "[Rails] Fix logo not loading on Rails error pages"
The Terrastories logo is not working on Rails error pages (404, 422, 500). You can access the 500 error page by going to any path that isn't used by Terrastories e.g. `en/testing`.

The logo path needs to be fixed here:
`<img src="../app/assets/images/logocombo.svg" width="80%">`

[2022-09-29 21:39] rudokemper opened #811 "[Rails] add the ability for an admin user to upload their own map Home icon to Themes"
Long ago, we customized the standard Mapbox map controls home icon to be a house of the Matawai community:
![image](https://user-images.githubusercontent.com/31662219/193146179-f0f260d3-b682-4de7-88fe-06ae4466a2aa.png)

The intent was always to allow for communities to modify this icon to make it their own, but we haven't gotten around to it until now.

Let's make it possible by allowing an admin

[2022-09-29 22:03] rudokemper commented on #796
In the same stroke, once we have this full size mode for marker popups built, we could truncate the text in popups at a reasonable quantity of characters.

![image](https://user-images.githubusercontent.com/31662219/193150098-9116ffe4-29ec-4357-8789-eba4c567dd77.png)

[2022-09-30 11:56] asheerrizvi commented on #789
Hey @rudokemper apologies for getting back late but getting this warning now:

<img width="680" alt="image" src="https://user-images.githubusercontent.com/17976252/193264354-74ead860-7d90-400a-93c1-dc33bbf98043.png">

docker is running but `docker-compose build` doesn't seem to be doing anything for me.

[2022-09-30 18:04] #808 closed

[2022-09-30 18:13] #809 closed

[2022-10-01 07:59] ashwini-seshadri commented on #803
Hi! I would like to work on this issue!
I have also signed up for hacktoberfest!

[2022-10-01 09:16] Im-Kunal-13 commented on #796
@rudokemper can you assign me this issue? I would like to work on it.

[2022-10-01 09:40] ashwini-seshadri commented on #806
Hi, I would like to work on this issue as well!

[2022-10-01 13:45] rudokemper commented on #806
Hi @ashwini-seshadri! I assigned you :)

[2022-10-01 13:46] rudokemper commented on #796
Hi @Im-Kunal-13, welcome! I assigned you :)

[2022-10-01 13:47] rudokemper commented on #803
That's great @ashwini-seshadri! Thanks! I assigned you.

[2022-10-01 15:57] rudokemper opened #812 "[Rails] Remove profile link from super admin dashboard"
When logged in as a super admin (e.g. via username `super@terrastories.io` and password `terrastories` per the default seed data), you access a unique dashboard for the super admin user.

At the top right, there is a leftover `Profile` link from other user role dashboards, which is currently leading to an error page. Let's remove this link.

![image](https://user-images.githubusercontent.com/31662

[2022-10-02 07:20] asheerrizvi commented on #789
@rudokemper have opened a PR here:

https://github.com/Terrastories/terrastories/pull/813

[2022-10-02 11:08] asheerrizvi commented on #812
I can take this @rudokemper

[2022-10-02 11:09] asheerrizvi commented on #810
I can take this @rudokemper

[2022-10-02 11:09] asheerrizvi commented on #807
I can take this @rudokemper

[2022-10-02 14:20] rudokemper commented on #812
Thanks @asheerrizvi! I assigned you.

[2022-10-02 14:20] rudokemper commented on #810
Thanks @asheerrizvi! I assigned you.

[2022-10-02 14:21] rudokemper commented on #807
I think we actually ended up solving this recently; my bad for having this up still.

[2022-10-02 14:21] #807 closed

[2022-10-02 16:56] asheerrizvi commented on #812
@rudokemper should I branch out of `administrate-refactor-part-1` for this too?

[2022-10-02 17:04] asheerrizvi commented on #812
@rudokemper have opened a PR for this: https://github.com/Terrastories/terrastories/pull/814

[2022-10-02 19:30] rudokemper commented on #812
Hey @asheerrizvi we just merged that administrate refactor branch; can you submit your PRs for the main TS branch?

[2022-10-03 05:53] asheerrizvi commented on #812
@rudokemper done, you can check now

[2022-10-03 06:27] toshitapandey commented on #795
@rudokemper - I'd like to work on this task.

[2022-10-03 11:59] rudokemper commented on #795
Hello @toshitapandey! I assigned you. Thanks!

[2022-10-03 15:40] asheerrizvi commented on #812
@rudokemper we can close this as per Laura's comment on the PR:

https://github.com/Terrastories/terrastories/pull/814#issuecomment-1265545904

[2022-10-03 15:41] asheerrizvi commented on #804
@rudokemper I can take this. Do we have any design which we want to implement on smaller viewports?

[2022-10-03 16:12] rudokemper commented on #812
Thanks @asheerrizvi; sorry for the miscommunication on this one.

[2022-10-03 16:12] #812 closed

[2022-10-03 17:33] #789 closed

[2022-10-03 17:44] rudokemper commented on #804
Hi @asheerrizvi we do not; so I think a first step for this ticket would be to create some UI design mock-ups.

[2022-10-03 22:54] rudokemper opened #822 "[Rails] Truncate Story filter select options in new CMS"
The new Terrastories CMS (accessed at `/member/`) adds a new filter tool for filtering through Stories.

Currently, the three select boxes for this filter tool for Place and Speaker are populated by the names from records in these two models, and depending on the length of the names, the select boxes can grow quite large, and could result in undesired overflow of the filter tool past the screen wi

[2022-10-04 01:03] rudokemper opened #824 "[Rails][React] Add the ability to"
Thanks for adding an issue to Terrastories! Reach out to us in Slack or at terrastories-stewards@googlegroups.com if you have any questions about creating an issue.

## Context:
Include why this issue is needed & any relevant context.

## Acceptance criteria:

- [ ] Acceptance criteria goes here, e.g. “User is able to filter by region”
- [ ] Existing tests do not break
- [ ] Add unit tests for any

[2022-10-04 01:21] rudokemper opened #825 "[Rails][React] Add the ability to "pin" a story so it shows up first on the StoryList"
The Haudenosaunee community has requested that we add a feature to "pin" a story, so that it shows up first on the StoryList. Let's make it happen!

Let's go about this the following way (working with the new CMS in the `/member/` path):

1. In the CMS, for a user with `editor` or `admin` permissions, add the ability to "pin" a story by showing an `icon-pushpin` from font-awesome in the top right

[2022-10-04 01:31] rudokemper opened #826 "[Translation] Help us add more translations to Terrastories! (and update Spanish/Portuguese/Dutch/Japanese)"
We've been slacking on keeping our Spanish, Portuguese, Dutch, and Japanese translations in `/rails/config/locales` up to date as we've been adding more strings to the app. Also, we would love to add more languages to Terrastories! If you would either like to help us keep our translations complete, or add a new language, that would be amazing!

Process for adding a new language:
1. Find the two or

[2022-10-04 05:28] asheerrizvi commented on #804
Cool, can you assign this to me? I'll have a look over the weekend @rudokemper

[2022-10-04 12:57] rudokemper commented on #804
@asheerrizvi might you also want to work on a slight issue introduced by the latest PR focused on adapting the StoryList height? I just noticed this - when the sidebar is minimized, it is now impossible to zoom in on the map for about half of the left side of the screen.

[2022-10-04 22:43] #790 closed

[2022-10-06 13:32] #822 closed

[2022-10-06 14:22] #793 closed

[2022-10-06 14:22] #797 closed

[2022-10-07 13:43] rudokemper opened #844 "[Rails] Let's add a hover tooltip over language choices in the new CMS"
The new CMS (located at `/member/`) adds the ability to pick a language from within the CMS. Right now, these are showing as acronyms in the bottom left (e.g. EN, ES, PT...). A user might not know what these acronyms stand for.

1. Let's add the full language strings for each language (English, Spanish, Portuguese...)  to each language's dashboard yml file. Bonus if you actually translate the lang

[2022-10-08 07:51] larymak commented on #826
Can I add a Swahili translation to the same?

[2022-10-08 11:11] nikhilbhatt commented on #844
@rudokemper can I take this?

[2022-10-08 12:02] rudokemper commented on #826
@larymak absolutely! We would love to have Swahili!

[2022-10-08 12:03] rudokemper commented on #844
@nikhilbhatt sure! I assigned you, thanks!

[2022-10-08 16:52] KrunkZhou commented on #826
Can I add a Chinese translation?

[2022-10-08 16:57] rudokemper commented on #826
@KrunkZhou that would be wonderful! :)

[2022-10-09 19:35] hassyyy commented on #802
I would like to work on this. Kindly assign it to me

[2022-10-10 08:19] matisnape commented on #811
Hey, can I take this one? :)

[2022-10-10 11:00] ashwini-seshadri commented on #806
Hi, just an FYI, I have started to work on this issue!

[2022-10-11 03:20] julinvictus commented on #826
I'm doing the PT one

[2022-10-11 03:46] julinvictus commented on #826
Wanted to check with you @rudokemper what you think about trying to use gender-neutral expressions. Latin languages like Portuguese will always genderize everything, but there's a tendency now to try to use those gender-neutral expressions, for instance, Welcome screen could be 'Bem vinde', now is 'Bem vindo/a'.

[2022-10-11 13:24] rudokemper commented on #802
@hassyyy done! Thanks for wanting to work on this.

[2022-10-11 13:28] rudokemper commented on #826
Great question @julinvictus. I thought about this, and went back and forth on it a little. On the one hand, some of our users are not likely to know gender-neutral expressions, but on the other hand, we want to be inclusive and I checked with some peer applications and platforms that are already using these as well. So I'd say let's go with the gender neutral expressions 👍 thanks for asking!

[2022-10-11 14:53] #844 closed

[2022-10-14 20:00] rudokemper opened #853 "[Rails] Set validation for media blob attachments for Story model"
Currently the media blob attachment for the Story model lacks validation. Let's add audio, video, and image.

[2022-10-15 06:26] navaneethkp36 commented on #853
hi @rudokemper I would like to contribute to this

[2022-10-15 15:07] rudokemper opened #856 "[Bug] When a new language is added to Terrastories, values don't show on the front end until another change is made to i18n"
Terrastories is using Ruby i18n to provide languages. These are added to `rails/config/locales`.

There is a short bit of code in `rails/config/application.rb` that automatically sets the available locales to whatever is found in that directory.

However, when you first add a new language to Terrastories, it seems to not load the values (from `en.yml` or equivalent) on the front end at first, as p

[2022-10-16 10:31] shub78910 commented on #825
I'd like to work on this, can you please assign this to me?
Also, If I try to create a Mapbox account, it asks me for my credit card details. Is there a dummy key, which I can use for development? That'd be great, thanks.

[2022-10-16 13:31] rudokemper commented on #825
Hi @shub78910 sure. Can you message me on our Slack channel, or on Discord (rkemper#8724)? I'll share it with you there.

[2022-10-16 13:34] arefathi commented on #826
Hello there, this is really a cool project.
I would like to make Amharic translation contributions.
Please let me know if that's okay before I proceed. Thanks.

[2022-10-16 13:43] rudokemper commented on #826
@arefathi that would be amazing!! Thank you!

[2022-10-16 13:43] shub78910 commented on #825
Sure

[2022-10-16 20:16] matisnape commented on #811
Question, should I already see the generic home icon here?
<img width="352" alt="2022-10-16 22-08-13" src="https://user-images.githubusercontent.com/2719923/196055871-65d6b4c7-ea14-40bd-ac82-215a7512d7dc.png">
Do I really need the Mapbox account to complete this task? They require credit card which I don’t have

[2022-10-17 12:56] arefathi commented on #826
Hello again @rudokemper
I have submitted a PR for the Amharic `am` translation at PR #857
Thanks for the opportunity. It was fun working on this.

[2022-10-17 15:59] rudokemper commented on #853
Hi @navaneethkp36 I got started on this https://github.com/Terrastories/terrastories/pull/854 but I think we could still do some more work to make this more nuanced; with this validation we can still upload 3gp which doesn't render well in html5. Want to take a look?

[2022-10-17 17:55] rudokemper commented on #811
We followed up about the Mapbox account on Slack - but, I would note that you should see the Home icon if you go the ``--profile offline` route, without credit card. You just have to make sure to be entirely offline otherwise Mapbox GL JS will complain.

It does not relate to any data model e.g. places. It's simply an SVG icon that is being pulled from assets. The desired feature is the ability to

[2022-10-18 07:18] asheerrizvi commented on #810
@rudokemper I am not able to get to the error page on local. When I try an invalid path I see this:

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/17976252/196362613-36b334cd-205d-4766-a474-0fd9a6a7024b.png">

[2022-10-18 14:53] rudokemper commented on #810
Ah, yeah I think the screen is shown when deployed in a production environment. You might need to either set that up, or figure out a way to get it to work in dev. Also, once you have made some commit, I can deploy to our staging server to make sure it all works 👍

[2022-10-19 02:22] rudokemper commented on #856
You can see this with the recently merged Aramaic translations in the master branch.

![image](https://user-images.githubusercontent.com/31662219/196582200-e0763c53-142b-4cf7-9465-30000ba0d0e8.png)

[2022-10-21 12:11] asheerrizvi commented on #810
hey @rudokemper have attempted a fix here: #858. Noticed a similar issue in `422` and `500` pages and have modified the path in those files as well.

[2022-10-24 09:06] anattolia commented on #826
Hi! Is the Spanish translation complete now?

[2022-10-24 12:23] rudokemper commented on #826
Hi @anattolia yes, but please do feel free to screen the translations to ensure they are okay. I think some of it was Google Translate 😅

[2022-10-24 14:40] rudokemper commented on #795
Hi @toshitapandey just checking if you still wanted to work on this?

[2022-10-24 14:41] rudokemper commented on #802
Hi @hassyyy just checking if you still wanted to work on this?

[2022-10-24 14:41] rudokemper commented on #803
Hi @ashwini-seshadri just checking if you still wanted to work on this?

[2022-10-24 15:39] rudokemper commented on #803
Awesome, sounds good @ashwini-seshadri :)

[2022-10-24 15:54] hassyyy commented on #802
Hey @rudokemper
I couldn't find time to work on this. Please assign to someone else. Sorry for the inconvenience

[2022-10-25 07:59] AshishSharma1203 commented on #826
@rudokemper I have added Hindi language translation ( only hi.yml as for now ). I will add the remaining file translations step by step.
Please verify this one and merge it.

[2022-10-25 08:15] AshishSharma1203 opened #863 "[Open source] add PR `template.md` file"
Thanks for adding an issue to Terrastories! Reach out to us in Slack or at terrastories-stewards@googlegroups.com if you have any questions about creating an issue.

## Context:
Include why this issue is needed & any relevant context.

to add PR_template.md file

## Acceptance criteria:

- [ ] Acceptance criteria goes here, e.g. “User is able to filter by region”
- [ ] Existing tests do not break

[2022-10-26 13:31] #803 closed

[2022-10-26 13:50] rudokemper opened #865 "[Rails] Create sort element to allow super-admin to sort communities by last updated, date created, and alphabetical"
Currently, the super admin communities view (accessible at en/member/communities path when logged in as a user with super admin credentials) shows the communities in alphabetical order only.

Let's create a sort element at the top of the page that allows the super admin user to sort the communities by `date last updated`, `date created`,  and `alphabetical`.

![image](https://user-images.githubuse

[2022-11-01 20:47] #865 closed

[2022-11-12 23:46] rudokemper opened #882 "[Map] Use MapLibre for offline environment"
Just scoping out some eventual work to use MapLibre for the offline environment / profile.

~~I created a Ruby gem [maplibre-gl-rails](https://rubygems.org/gems/maplibre-gl-rails) and tested it with Terrastories to make sure that it works, across all areas of the app. (Currently, the map library is piped from Rails to React to serve the map on the front end, as well as the different map views in t